{% extends "base.html" %}
{% block title %}signup{% endblock%}
{% block body %}
<div id="sidebar">
    <div class="panel">
        <div class="header">
          <span class="col_fade">关于</span>
        </div>
        <div class="inner">
            <p>hldgaoshuo 的论坛</p>
            <p>在这里你可以：</p>
            <ul>
            <li>向别人提出你遇到的问题</li>
            <li>帮助遇到问题的人</li>
            <li>分享自己的知识</li>
            </ul>
        </div>
    </div>
</div>

<div id="content">
  <div class="panel">
    <div class="header">
      <ul class="breadcrumb">
        <li class="active">注册</li>
      </ul>
    </div>

    <div class="inner">
      <form id="signin_form" class="form-horizontal" action="{{ url_for('signup.register') }}" method="post">

        <div class="control-group">
          <label class="control-label" for="name">用户名</label>
          <div class="controls">
            <input class="input-xlarge" id="name" name="username" size="30" type="text" autocomplete="off">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">邮箱</label>
          <div class="controls">
            <input class="input-xlarge" id="name" name="email" size="30" type="text" autocomplete="off">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="pass">密码</label>
          <div class="controls">
            <input class="input-xlarge" id="pass" name="password" size="30" type="password" autocomplete="off">
          </div>
        </div>

        <div class="form-actions">
          <input type="submit" class="span-primary" value="注册">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}